.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
  background-color: #3c056c;
  border-radius: 50%;
  overflow-wrap: normal;
  width: 10%;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

header {
  text-decoration-color: antiquewhite;
  text-decoration-style: solid;
}

div {
  text-decoration-color: rgb(172, 213, 249);
  overflow-wrap: normal;
}