form {
    align-items: center;
}

input {
    width: 50%;
}

textarea {
    width: 80%;
    resize: vertical;
    max-height: 300px;
}

button {
    width: 30px;
    height: 15px;
}

input, textarea {
    box-shadow: 0 0 4px rgb(143, 7, 7);;
    background-color: #1b0033;
}